.navRectangle {
    background: url('../../public/banner.svg');
    background-blend-mode: screen, normal;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 2rem;
  }
  
  @media (min-width: 640px) {
    .navRectangle {
      height: 2rem; 
    }
  }
  
  @media (min-width: 1024px) {
    .navRectangle {
      height: 3rem; 
    }
  } 