/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .sectionTitle {
    color: var(--white);
    letter-spacing: 0.36px;
    font: 400 36px/133% Montserrat, sans-serif;
    width: 100%;
  }
  
  @media (max-width: 991px) {
    .sectionTitle {
      max-width: 100%;
    }
  }
  
  .content {
    margin-top: 32px;
    width: 100%;
    padding: 0 20px;
  }
  
  @media (max-width: 991px) {
    .content {
      max-width: 100%;
    }
  }
  
  .cards {
    gap: 22px;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .cards {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  
  .card {
    height: 200px;
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
    background-color: rgba(255, 255, 255, 0.04);
    padding: 20px 24px;
  }
  
  @media (max-width: 991px) {
    .card {
      width: 100%;
      margin-top: 16px;
      padding: 20 20px;
    }
  }
  
  .cardTitle {
    color: var(--orange);
    letter-spacing: 0.18px;
    font: 18px/27px Inter, sans-serif;
  }
  
  .cardArrow {
    color: var(--complimentary);
    letter-spacing: 0.23px;
    margin-top: 107px;
    font: 23px/150% Inter, sans-serif;
  }
  
  .cardArrow2 {
    color: var(--complimentary);
    letter-spacing: 0.23px;
    margin-top: 80px;
    font: 23px/150% Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .cardArrow {
      margin-top: 40px;
    }
  }
  